@media screen and (min-width: 1024px) {
  footer#footer {
    > .footer-logo {
      width: 221px;
      > svg {
        width: 100%;
        height: 100px;
      }
    }
    > .footer-info {
      > ul {
        > li {
          font-size: $paragraph-size-desktop;
        }
      }
    }
    > .footer-icons {
      > ul {
        margin-top: 20px;
        > li {
          > a {
            > svg {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
