@media screen and (min-width: 1024px) {
  section#consulation-form {
    > h2 {
      font-size: $heading-size-desktop;
    }
    > p {
      font-size: $paragraph-size-desktop;
      margin-bottom: 40px;
    }
    > a {
      font-size: $heading-size-desktop;
      width: 258px;
    }
  }
}
