@import "../../variables";
@import "../../palette";

.consulation-form {
  > h2 {
    color: $text-color-dark;
    font-size: $heading-size-mobile;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  > p {
    color: $text-color-dark;
    font-size: $paragraph-size-mobile;
    text-align: center;
    margin-bottom: 20px;
  }
  span {
    color: $highlight;
  }
  > a {
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    padding: 7px 20px;
    border-radius: 7.416px;
    box-shadow: 0px 4.99999px 13.24998px 3.74999px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: $text-color-dark;
    position: relative;
    z-index: 1;
    background-color: $primary-bg-light;
  }
}
