@media screen and (min-width: 768px) {
  section.services {
    > .services-heading {
      > .services-txt {
        font-size: $heading-size-tablet;
      }
    }
    > .services-icons-mobile {
      display: none;
    }
    > .services-icons-desktop {
      width: 100%;
      background-color: $primary-bg-dark;
      display: flex;
      justify-content: center;
      padding: 20px 40px;

      > .services-links {
        width: 100%;
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 34px;
        > a {
          > div {
            width: 110px;
            height: 110px;
            background-color: $text-color-lightdark;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
