@import "./media-queries";
@import "./variables";
@import "./shared";
@import "./palette";
@import "./reset";
@import "./components/navbar/index";
@import "./components/header/index";
@import "./components/innflux-services/index";
@import "./components/about-us/index";
@import "./components/companies-slider/index";
@import "./components/consulation-form/index";
@import "./components/consultants/index";
@import "./components/employee-form/index";
@import "./components/footer/index";
@import "./services-page/services-cards/index";
@import "./contact-page/contact-us/index";

@font-face {
  font-family: "Actor";
  src: url(../assets/fonts/Actor-Regular.ttf);
}
@font-face {
  font-family: "Calistoga";
  src: url(../assets/fonts/Calistoga-Regular.ttf);
}
.main-font {
  font-family: "Calistoga";
}
.secondary-font {
  font-family: "Actor";
}
body {
  overflow-x: hidden;
}
.no-scroll {
  overflow: hidden;
}
