* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d9d9;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.navbar-desktop {
  display: none;
}

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.navbar-mobile .hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  z-index: 99;
}
.navbar-mobile .hamburger .bar, .navbar-mobile .hamburger::before, .navbar-mobile .hamburger::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #4e5279;
  margin: 6px 0px;
  transition: 0.4s;
}
.navbar-mobile .hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.navbar-mobile .hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.navbar-mobile .hamburger.is-active .bar {
  opacity: 0;
}
.navbar-mobile .mobile-nav-list.is-active {
  left: 0;
}
.navbar-mobile .mobile-nav-list {
  z-index: 9;
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  transition: 0.4s;
  background-color: #d9d9d9;
  padding-top: 120px;
}
.navbar-mobile .mobile-nav-list > ul > li {
  list-style: none;
}
.navbar-mobile .mobile-nav-list > ul > li > a {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  margin: 0 auto 16px;
  width: fit-content;
  padding: 12px 16px;
  background-color: aqua;
  color: white;
  text-decoration: none;
}

header > h1 {
  font-size: 17px;
  margin: 0 auto;
  color: #4e5279;
}
header > h1 > span {
  color: #cb7878;
}

.services {
  width: 100%;
}
.services > .services-heading {
  position: relative;
}
.services > .services-heading > .triangle-container {
  width: 100%;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 100vw solid #4e5279;
}
.services > .services-heading > .services-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 14px;
  background-color: #4e5279;
  padding: 9px 23px;
  box-shadow: 0px 4.99999px 13.24998px 3.74999px rgba(0, 0, 0, 0.25);
}
.services > .services-carousel {
  width: 100%;
  height: 80px;
  background-color: #4e5279;
}

.about-us {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-bottom: 30px;
  background-color: #4e5279;
}
.about-us > div:first-of-type {
  display: flex;
  gap: 20px;
  height: 50px;
  margin-bottom: 17px;
}
.about-us > div:first-of-type > div:first-of-type {
  width: 8px;
  height: 100%;
  background-color: #cb7878;
}
.about-us > div:first-of-type > div:last-of-type {
  color: #abafce;
}
.about-us > div:first-of-type > div:last-of-type > h2 {
  font-size: 25px;
}
.about-us > p {
  color: #abafce;
  font-size: 11px;
  margin-bottom: 30px;
}
.about-us > div:last-of-type {
  display: flex;
  justify-content: space-between;
}
.about-us > div:last-of-type > div > h5 {
  font-size: 13px;
  color: #cb7878;
}
.about-us > div:last-of-type > div > p {
  font-size: 11px;
  color: #abafce;
}

.companies-slider > .slider {
  width: 90%;
  margin: 0 auto;
}
.companies-slider > .slider > ul {
  display: flex;
  gap: 20px;
  padding-block: 0.2rem;
  flex-wrap: wrap;
}
.companies-slider > .slider > ul > li {
  list-style: none;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.companies-slider > .slider > ul > li > img {
  max-width: 100%;
}
.companies-slider .slider[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, #d9d9d9 20%, #d9d9d9 80%, transparent);
  mask: linear-gradient(90deg, transparent, #d9d9d9 20%, #d9d9d9 80%, transparent);
}
.companies-slider .slider[data-animated=true] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 10px));
  }
}
@font-face {
  font-family: "Actor";
  src: url(../assets/fonts/Actor-Regular.ttf);
}
@font-face {
  font-family: "Calistoga";
  src: url(../assets/fonts/Calistoga-Regular.ttf);
}
.main-font {
  font-family: "Calistoga";
}

.secondary-font {
  font-family: "Actor";
}

/*# sourceMappingURL=main.css.map */
