* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d9d9;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  section#navbar-desktop {
    padding: 40px;
  }
  section#navbar-desktop > .logo svg {
    width: 80px;
    height: 40px;
  }
  section#navbar-desktop > .links > ul {
    gap: 30px;
  }
  section#navbar-desktop > .links > ul > li > a {
    font-size: 18px;
    position: relative;
  }
  section#navbar-desktop > .links > ul > li > a::after {
    content: "";
    position: absolute;
    background-color: #4e5279;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  section#navbar-desktop > .links > ul > li > a:hover::after {
    width: 100%;
  }
  section#navbar-desktop > .links > ul > li > a:hover {
    color: #abafce;
    transition: 0.3s;
  }
}
.navbar-desktop {
  display: none;
}

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  overflow-x: hidden;
}
.navbar-mobile .hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  z-index: 99;
}
.navbar-mobile .hamburger .bar, .navbar-mobile .hamburger::before, .navbar-mobile .hamburger::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #4e5279;
  margin: 6px 0px;
  transition: 0.4s;
}
.navbar-mobile .hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.navbar-mobile .hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.navbar-mobile .hamburger.is-active .bar {
  opacity: 0;
}
.navbar-mobile .mobile-nav-list.is-active {
  left: 20%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.navbar-mobile .mobile-nav-list {
  z-index: 3;
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  transition: 0.4s;
  background-color: #d9d9d9;
  padding-top: 90px;
}
.navbar-mobile .mobile-nav-list > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.navbar-mobile .mobile-nav-list > ul > li {
  list-style: none;
}
.navbar-mobile .mobile-nav-list > ul > li > a {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  margin: 0 auto 16px;
  width: fit-content;
  padding: 12px 16px;
  color: #4e5279;
  text-align: left;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  section.navbar-mobile {
    display: none;
  }
  section.navbar-desktop {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    padding-bottom: 30px;
  }
  section.navbar-desktop > .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.navbar-desktop > .links > ul {
    display: flex;
    gap: 20px;
  }
  section.navbar-desktop > .links > ul > li {
    list-style: none;
  }
  section.navbar-desktop > .links > ul > li > a {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    font-size: 17px;
    color: #4e5279;
    text-align: left;
    text-decoration: none;
  }
}
@media screen and (min-width: 1024px) {
  header#header {
    margin-bottom: 40px;
  }
  header#header > h1 {
    font-size: 30px;
  }
}
header > h1 {
  font-size: 17px;
  margin: 0 auto;
  color: #4e5279;
}
header > h1 > span {
  color: #cb7878;
}

@media screen and (min-width: 768px) {
  header.header > h1 {
    font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  section#services > .services-heading > .services-txt {
    font-size: 30px;
  }
  section#services > .services-icons-desktop {
    padding: 50px;
  }
  section#services > .services-icons-desktop > .services-links {
    max-width: 920px;
    gap: 4%;
    row-gap: 40px;
  }
  section#services > .services-icons-desktop > .services-links > a {
    width: 16%;
  }
  section#services > .services-icons-desktop > .services-links > a:hover > div {
    background-color: #d9d9d9;
    transition: 0.4s;
  }
  section#services > .services-icons-desktop > .services-links > a > div {
    width: 100%;
    height: 160px;
  }
}
.services {
  width: 100%;
}
.services > .services-heading {
  position: relative;
}
.services > .services-heading > .triangle-container {
  width: 100%;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 100vw solid #4e5279;
}
.services > .services-heading > .services-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 14px;
  background-color: #4e5279;
  padding: 9px 23px;
  box-shadow: 0px 4.99999px 13.24998px 3.74999px rgba(0, 0, 0, 0.25);
}
.services > .services-icons-mobile {
  width: 100%;
  background-color: #4e5279;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.services > .services-icons-mobile > div:last-of-type {
  margin-bottom: 20px;
}
.services > .services-icons-mobile > a {
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  padding: 7px 20px;
  border-radius: 7.416px;
  box-shadow: 0px 4.99999px 13.24998px 3.74999px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #4e5279;
  position: relative;
  z-index: 1;
  background-color: #d9d9d9;
  margin-bottom: 40px;
}
.services > .services-icons-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  section.services > .services-heading > .services-txt {
    font-size: 22px;
  }
  section.services > .services-icons-mobile {
    display: none;
  }
  section.services > .services-icons-desktop {
    width: 100%;
    background-color: #4e5279;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
  }
  section.services > .services-icons-desktop > .services-links {
    width: 100%;
    max-width: 796px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 34px;
  }
  section.services > .services-icons-desktop > .services-links > a > div {
    width: 110px;
    height: 110px;
    background-color: #abafce;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1024px) {
  section#about-us {
    padding: 50px;
  }
  section#about-us > .about-us-img {
    width: 350px;
    height: 350px;
  }
  section#about-us > .about-us-txt {
    max-width: 630px;
  }
  section#about-us > .about-us-txt > div:first-child > div:last-child > h2 {
    font-size: 30px;
  }
  section#about-us > .about-us-txt > p {
    font-size: 18px;
  }
  section#about-us > .about-us-txt > div:last-of-type h5.main-font,
  section#about-us > .about-us-txt > div:last-of-type p.main-font {
    font-size: 18px;
  }
}
.about-us {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-bottom: 30px;
  background-color: #4e5279;
}
.about-us > .about-us-img {
  display: none;
}
.about-us .about-us-txt > div:first-of-type {
  display: flex;
  gap: 20px;
  height: 50px;
  margin-bottom: 17px;
}
.about-us .about-us-txt > div:first-of-type > div:first-of-type {
  width: 8px;
  height: 100%;
  background-color: #cb7878;
}
.about-us .about-us-txt > div:first-of-type > div:last-of-type {
  color: #abafce;
}
.about-us .about-us-txt > div:first-of-type > div:last-of-type > h2 {
  font-size: 25px;
}
.about-us .about-us-txt > p {
  color: #abafce;
  font-size: 11px;
  margin-bottom: 30px;
}
.about-us .about-us-txt > div:last-of-type {
  display: flex;
  justify-content: space-between;
}
.about-us .about-us-txt > div:last-of-type > div > h5 {
  font-size: 13px;
  color: #cb7878;
}
.about-us .about-us-txt > div:last-of-type > div > p {
  font-size: 11px;
  color: #abafce;
}

@media screen and (min-width: 768px) {
  section.about-us {
    padding: 40px;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
  }
  section.about-us > div {
    width: 50%;
  }
  section.about-us > .about-us-img {
    display: block;
    width: 265px;
    height: 265px;
    background-color: #d9d9d9;
  }
  section.about-us > .about-us-txt > div:first-child > div:last-child > h2 {
    font-size: 22px;
  }
  section.about-us > .about-us-txt > p {
    font-size: 13px;
  }
  section.about-us > .about-us-txt > div:last-of-type h5.main-font,
  section.about-us > .about-us-txt > div:last-of-type p.main-font {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  section#companies-slider {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  section#companies-slider > .slider > ul > li {
    width: 160px;
    height: 160px;
  }
  section#companies-slider .slider[data-animated=true] .scroller_inner {
    animation: scroll 60s linear infinite;
  }
}
@media screen and (min-width: 1440px) {
  section#companies-slider.companies-slider {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  section#companies-slider.companies-slider > .slider {
    width: 70%;
  }
  section#companies-slider.companies-slider > .slider > ul > li {
    width: 180px;
    height: 180px;
  }
  section#companies-slider.companies-slider .slider[data-animated=true] .scroller_inner {
    animation: scroll 60s linear infinite;
  }
}
.companies-slider > .slider {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
.companies-slider > .slider > ul {
  display: flex;
  gap: 20px;
  padding-block: 0.2rem;
  flex-wrap: wrap;
}
.companies-slider > .slider > ul > li {
  list-style: none;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.companies-slider > .slider > ul > li > img {
  max-width: 100%;
}
.companies-slider .slider[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, #d9d9d9 20%, #d9d9d9 80%, transparent);
  mask: linear-gradient(90deg, transparent, #d9d9d9 20%, #d9d9d9 80%, transparent);
}
.companies-slider .slider[data-animated=true] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 10px));
  }
}
@media screen and (min-width: 768px) {
  section.companies-slider > .slider > ul > li {
    width: 110px;
    height: 110px;
  }
}
@media screen and (min-width: 1024px) {
  section#consulation-form > h2 {
    font-size: 30px;
  }
  section#consulation-form > p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  section#consulation-form > a {
    font-size: 30px;
    width: 258px;
  }
}
.consulation-form > h2 {
  color: #4e5279;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.consulation-form > p {
  color: #4e5279;
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}
.consulation-form span {
  color: #cb7878;
}
.consulation-form > a {
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  padding: 7px 20px;
  border-radius: 7.416px;
  box-shadow: 0px 4.99999px 13.24998px 3.74999px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #4e5279;
  position: relative;
  z-index: 1;
  background-color: #d9d9d9;
}

@media screen and (min-width: 768px) {
  section.consulation-form > h2 {
    font-size: 22px;
  }
  section.consulation-form > p {
    font-size: 13px;
  }
  section.consulation-form > a {
    font-size: 22px;
    width: 168px;
  }
}
.consultants {
  width: 100%;
  height: 280px;
  background-color: #4e5279;
  margin-top: -18px;
}

@media screen and (min-width: 1024px) {
  section#employee-form {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  section#employee-form > h2 {
    font-size: 30px;
  }
  section#employee-form > p {
    font-size: 18px;
  }
  section#employee-form > a {
    font-size: 30px;
    width: 258px;
  }
}
.employee-form > h2 {
  color: #4e5279;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.employee-form > p {
  color: #4e5279;
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px;
}
.employee-form span {
  color: #cb7878;
}
.employee-form > a {
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  padding: 7px 20px;
  border-radius: 7.416px;
  box-shadow: 0px 4.99999px 13.24998px 3.74999px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #4e5279;
  position: relative;
  z-index: 1;
  background-color: #d9d9d9;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  section.employee-form > h2 {
    font-size: 22px;
  }
  section.employee-form > p {
    font-size: 13px;
  }
  section.employee-form > a {
    font-size: 22px;
    width: 168px;
  }
}
@media screen and (min-width: 1024px) {
  footer#footer > .footer-logo {
    width: 221px;
  }
  footer#footer > .footer-logo > svg {
    width: 100%;
    height: 100px;
  }
  footer#footer > .footer-info > ul > li {
    font-size: 18px;
  }
  footer#footer > .footer-icons > ul {
    margin-top: 20px;
  }
  footer#footer > .footer-icons > ul > li > a > svg {
    width: 30px;
    height: 30px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: #4e5279;
}
footer > .footer-logo {
  width: 155px;
}
footer > .footer-info {
  margin-top: 20px;
}
footer > .footer-info > ul {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: column;
}
footer > .footer-info > ul > li {
  text-align: center;
  list-style: none;
  font-size: 11px;
  color: #abafce;
}
footer > .footer-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer > .footer-icons > ul {
  display: flex;
  gap: 15px;
}
footer > .footer-icons > ul > li {
  list-style: none;
}
footer > .footer-icons > ul > li > a:hover path {
  fill: white;
  transition: 0.4s;
}

.services-cards {
  background-color: #4e5279;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-cards > .services-heading {
  padding: 9px 23px;
  background-color: #7075a4;
  border-radius: 14px;
  box-shadow: 0px 4.99999px 13.24998px 3.74999px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  margin-bottom: 30px;
}
.services-cards > .services-heading h2.main-font {
  font-size: 17px;
  color: #fff;
}
.services-cards > .services-card {
  width: 80%;
  border-radius: 24px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
}
.services-cards > .services-card > .top-layer {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}
.services-cards > .services-card > .top-layer > .service-name h4.main-font {
  font-size: 17px;
  color: #4e5279;
}
.services-cards > .services-card > .top-layer > .service-logo {
  background-color: #7075a4;
  position: absolute;
  right: -38px;
  top: -38px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  padding: 15px;
  border-radius: 50%;
}
.services-cards > .services-card > .top-layer > .service-logo svg {
  width: 40px;
}
.services-cards > .services-card > .services-card-content {
  padding: 20px 20px 20px 20px;
}
.services-cards > .services-card > .services-card-content li {
  list-style: none;
  color: #7075a4;
}

.services-footer {
  margin-top: -18px;
}
.services-footer > .footer-logo {
  margin-top: 10px;
}

@font-face {
  font-family: "Actor";
  src: url(../assets/fonts/Actor-Regular.ttf);
}
@font-face {
  font-family: "Calistoga";
  src: url(../assets/fonts/Calistoga-Regular.ttf);
}
.main-font {
  font-family: "Calistoga";
}

.secondary-font {
  font-family: "Actor";
}

body {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
