@media screen and (min-width: 1024px) {
  section#navbar-desktop {
    padding: 40px;
    > .logo {
      svg {
        width: 80px;
        height: 40px;
      }
    }
    > .links {
      > ul {
        gap: 30px;
        > li {
          > a {
            font-size: $paragraph-size-desktop;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              background-color: $primary-bg-dark;
              width: 0;
              height: 3px;
              left: 0;
              bottom: -10px;
              transition: 0.3s;
            }
            &:hover::after {
              width: 100%;
            }
            &:hover {
              color: $text-color-lightdark;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}
